.ac-article h1, .ac-article h2, .ac-article h3, .ac-article h4, .ac-article h5, .ac-article h6, .ac-h1, .ac-h2, .ac-h3, .ac-h4, .ac-h5, .ac-h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit; }

.ac-article p, .ac-p,  .ac-article *{
  margin-top: 0;
  color: #292929;
  font-weight: inherit;
  margin-bottom: 1rem; }

.ac-black {
  color: #000; }
  .ac-black a:hover, .ac-black a:focus, .ac-black:hover, .ac-black:focus {
    color: #000; }

.ac-white {
  color: white; }
  .ac-white a:hover, .ac-white a:focus, .ac-white:hover, .ac-white:focus {
    color: #fff; }

.ac-red {
  color: red; }
  .ac-red a:hover, .ac-red a:focus, .ac-red:hover, .ac-red:focus {
    color: red; }

.ac-blue {
  color: blue; }
  .ac-blue a:hover, .ac-blue a:focus, .ac-blue:hover, .ac-blue:focus {
    color: blue; }

/*hover links*/
a.ac-hover_black a:hover, a.ac-hover_black a:focus, a.ac-hover_black:hover, a.ac-hover_black:focus {
  color: #000; }

a.ac-hover_white a:hover, a.ac-hover_white a:focus, a.ac-hover_white:hover, a.ac-hover_white:focus {
  color: #fff; }

a.ac-hover_red a:hover, a.ac-hover_red a:focus, a.ac-hover_red:hover, a.ac-hover_red:focus {
  color: red; }

a.ac-hover_blue a:hover, a.ac-hover_blue a:focus, a.ac-hover_blue:hover, a.ac-hover_blue:focus {
  color: blue; }

.ac-article {
  /*headers*/
  /*paragraph*/
  /*lists*/ }
  .ac-article h1 {
    font-size: 2.5rem; }
  .ac-article h2 {
    font-size: 2rem; }
  .ac-article h3 {
    font-size: 1.75rem; }
  .ac-article h4 {
    font-size: 1.5rem; }
  .ac-article h5 {
    font-size: 1.25rem; }
  .ac-article h6 {
    font-size: 1rem; }
  .ac-article p {
    font-size: 1rem; }
  .ac-article ul li, .ac-article ol li {
    display: list-item; }
    .ac-article ul li a, .ac-article ol li a {
      text-decoration: none; }
  .ac-article ul {
    list-style: disc; }
  .ac-article ol {
    list-style: none;
    counter-reset: li; }
    .ac-article ol > li {
      margin-left: -20px; }
      .ac-article ol > li li {
        margin-left: 0; }
    .ac-article ol li:before {
      counter-increment: li;
      content: counters(li, ".") ". "; }

.ac-text_indent p, p.ac-text_indent {
  text-indent: 1.5rem; }

/*images*/
.ac-w_100 {
  width: 100%; }

.ac-w_70 {
  width: 70%; }

.ac-w_50 {
  width: 50%; }

.ac-w_30 {
  width: 30%; }

.ac-w_20 {
  width: 20%; }

.ac-h_100 img, .ac-h_75 img, .ac-h_50 img, .ac-h_25 img {
  height: 100%;
  width: auto;
}
.ac-h_100 {
  height: 100%; }

.ac-h_75 {
  height: 75%; }

.ac-h_50 {
  height: 50%; }

.ac-h_25 {
  height: 25%; }

.ac-img_left, .ac-img_right {
  float: left; }
  .ac-img_left img, .ac-img_right img {
    margin: 0 15px; }

.ac-img_left img {
  float: left; }

.ac-img_right img {
  float: right; }

.ac-img_inline {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .ac-img_inline img {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 20px; }

/*headers*/
.ac-h1 {
  font-size: 2.5rem; }

.ac-h2 {
  font-size: 2rem; }

.ac-h3 {
  font-size: 1.75rem; }

.ac-h4 {
  font-size: 1.5rem; }

.ac-h5 {
  font-size: 1.25rem; }

.ac-h6 {
  font-size: 1rem; }

/*paragraph*/
.ac-p {
  font-size: 1rem; }

/*lists*/
.ac-ul li, .ac-ol li {
  display: list-item; }
  .ac-ul li a, .ac-ol li a {
    text-decoration: none; }

.ac-ul {
  list-style: disc; }

.ac-ol {
  list-style: none;
  counter-reset: li; }
  .ac-ol > li {
    margin-left: -20px; }
    .ac-ol > li li {
      margin-left: 0; }
  .ac-ol li:before {
    counter-increment: li;
    content: counters(li, ".") ". "; }
  .ac-ol ol {
    list-style: none;
    counter-reset: li; }

/*image size-100%*/
.ac-img {
  width: 100%;
  height: 100%; }

@media (max-width: 992px) {
  .ac-w_30, .ac-w_20 {
    width: 50%; }
  .ac-h_50, .ac-h_25 {
    height: 50%; } }

@media (max-width: 768px) {
  .ac-img_left, .ac-img_right {
    float: inherit; }
    .ac-img_left img, .ac-img_right img {
      margin: 0 auto; }
  .ac-img_left img {
    float: inherit; }
  .ac-img_right img {
    float: inherit; }
  .ac-w_70, .ac-w_50, .ac-w_30, .ac-w_20 {
    width: 100%; }
  .ac-h_75, .ac-h_50, .ac-h_25 {
    height: 100%; } }
