.noUi-target, .noUi-target
*{-webkit-touch-callout:none;-webkit-user-select:none;-ms-touch-action:none;touch-action:none;-ms-user-select:none;-moz-user-select:none;user-select:none;-moz-box-sizing:border-box;box-sizing:border-box}.noUi-target{position:relative;direction:ltr}.noUi-base{width:100%;height:100%;position:relative;z-index:1}.noUi-origin{position:absolute;right:0;top:0;left:0;bottom:0}.noUi-handle{position:relative;z-index:1}.noUi-stacking .noUi-handle{z-index:10}.noUi-state-tap .noUi-origin{-webkit-transition:left .3s, top .3s;transition:left .3s, top .3s}.noUi-state-drag
*{cursor:inherit!important}.noUi-base,.noUi-handle{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.noUi-horizontal{height:18px}.noUi-horizontal .noUi-handle{width:34px;height:28px;left:-17px;top:-6px}.noUi-vertical{width:18px}.noUi-vertical .noUi-handle{width:28px;height:34px;left:-6px;top:-17px}.noUi-background{background:#FAFAFA;box-shadow:inset 0 1px 1px #f0f0f0}.noUi-connect{background:#1f92bd;box-shadow:inset 0 0 3px rgba(51,51,51,.45);-webkit-transition:background 450ms;transition:background 450ms}.noUi-origin{border-radius:2px}.noUi-target{border-radius:4px;border:1px
solid #D3D3D3;box-shadow:inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB}.noUi-target.noUi-connect{box-shadow:inset 0 0 3px rgba(51,51,51,.45), 0 3px 6px -5px #BBB}.noUi-draggable{cursor:w-resize}.noUi-vertical .noUi-draggable{cursor:n-resize}.noUi-handle{border:1px
solid #D9D9D9;border-radius:3px;background:#FFF;cursor:default;box-shadow:inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB}.noUi-active{box-shadow:inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB}.noUi-handle:after,.noUi-handle:before{content:"";display:block;position:absolute;height:14px;width:1px;background:#E8E7E6;left:14px;top:6px}.noUi-handle:after{left:17px}.noUi-vertical .noUi-handle:after, .noUi-vertical .noUi-handle:before{width:14px;height:1px;left:6px;top:14px}.noUi-vertical .noUi-handle:after{top:17px}[disabled] .noUi-connect,[disabled].noUi-connect{background:#B8B8B8}[disabled] .noUi-handle,[disabled].noUi-origin{cursor:not-allowed}.noUi-pips, .noUi-pips
*{-moz-box-sizing:border-box;box-sizing:border-box}.noUi-pips{position:absolute;color:#999;font-size:10px}.noUi-value{position:absolute;text-align:center}.noUi-value-sub{color:#ccc;font-size:10px}.noUi-marker{position:absolute;background:#CCC}.noUi-marker-large,.noUi-marker-sub{background:#AAA}.noUi-pips-horizontal{padding:10px
0;height:45px;top:100%;left:0;width:100%}.noUi-value-horizontal{-webkit-transform:translate3d(-50%,50%,0);transform:translate3d(-50%,50%,0)}.noUi-marker-horizontal.noUi-marker{margin-left:-1px;width:2px;height:5px}.noUi-marker-horizontal.noUi-marker-sub{height:10px}.noUi-marker-horizontal.noUi-marker-large{height:12px}.noUi-pips-vertical{padding:0
10px;height:100%;top:0;left:100%}.noUi-value-vertical{-webkit-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0);padding-left:25px}.noUi-marker-vertical.noUi-marker{width:5px;height:2px;margin-top:-1px}.noUi-marker-vertical.noUi-marker-sub{width:10px}.noUi-marker-vertical.noUi-marker-large{width:15px}.noUi-tooltip{display:block;position:absolute;border:1px
solid #D9D9D9;border-radius:3px;background:#fff;padding:5px;text-align:center}.noUi-horizontal .noUi-handle-lower .noUi-tooltip{top:-32px}.noUi-horizontal .noUi-handle-upper .noUi-tooltip{bottom:-32px}.noUi-vertical .noUi-handle-lower .noUi-tooltip{left:120%}.noUi-vertical .noUi-handle-upper .noUi-tooltip{right:120%}
.ocfilter{padding-top:12px}.ocfilter-option .ocf-option-name,
.ocfilter-option .ocf-option-values,
.ocfilter-option .ocf-option-description,
.ocfilter-option .fields-price{font-size:12px}.ocfilter-option .ocf-option-name{font-size:14px;font-weight:600;margin-bottom:10px;color:#292929;font-family:Montserrat;font-weight:700;line-height:23px;letter-spacing:0.32px}@media screen and (min-width: 992px){.ocfilter-option .ocf-option-name{font-size:16px}}.ocfilter-option .ocf-option-values{overflow:visible}.list-group-item{overflow:visible!important}.ocfilter-option .ocf-option-values .dropdown-menu{min-width:100%;max-height:250px;overflow:auto;padding:10px}.ocfilter-option .ocf-color{border-radius:3px 3px 3px 3px;float:left;height:19px;margin:1px
-16px 0 -3px;width:19px}.ocfilter-option .ocf-image{background-repeat:no-repeat;background-position:0 0;float:left;height:19px;margin:1px
-16px 0 -3px;position:relative;width:19px;z-index:10}.ocfilter-option
label{cursor:pointer;display:block;font-size:12px;font-weight:normal;line-height:1.2;white-space:normal;padding:4px
0 4px 15px;width:100%;color:#a2a2a2;font-family:Montserrat;line-height:24px;letter-spacing:0.28px;position:relative}.ocfilter-option label>a{font-family:Montserrat;line-height:14px;letter-spacing:0.28px;font-weight:normal;font-size:14px}.ocfilter-option label:before{content:'';display:inline-block;width:11px;height:11px;border:2px
solid #fbde1b;position:absolute;left:0px;top:10px}@media screen and (min-width: 992px){.ocfilter-option
label{font-size:14px}}.ocfilter-option .dropdown-menu
label{white-space:nowrap}.ocfilter-option label
input{display:inline-block;margin:0;vertical-align:top}.ocfilter-option label
small{background-color:#fff;color:#474747;margin-left:5px;border:1px
solid #fbde1b;border-radius:0;font-family:Montserrat;font-size:11px;font-weight:400;letter-spacing:0.22px;padding:2.5px 7px 1px}.ocfilter-option
label.disabled{color:#a2a2a2}.ocfilter-option label.disabled
small{background-color:#fff;color:#999}.ocfilter-option
label{color:#474747;text-decoration:none}.ocfilter-option label.ocf-selected:after{content:'';display:block;position:absolute;top:13px;left:3px;width:5px;height:5px;background-color:#fbde1b}.ocfilter-option label.ocf-selected
small{opacity:1}button[data-target="#ocfilter-hidden-options"]{border-top-left-radius:0;border-top-right-radius:0}button[data-target="#ocfilter-hidden-options"] .fa:before{content:"\f078"}button[data-target="#ocfilter-hidden-options"][aria-expanded="true"]{border-bottom-left-radius:0;border-bottom-right-radius:0}button[data-target="#ocfilter-hidden-options"][aria-expanded="true"] .fa:before{content:"\f077"}.collapse-value{margin-bottom:10px}.collapse-value>button,.collapse-value>button:focus,.collapse-value>button:active,.collapse-value>button:active:focus{text-align:left;background:transparent;border:none;box-shadow:none;padding:0;font-size:12px;text-decoration:underline;outline:none}.collapse-value > button .fa:before{content:"\f107"}.collapse-value>button[aria-expanded="true"]{}.collapse-value > button[aria-expanded="true"] .fa:before{content:"\f106"}.selected-options{color:#333;padding:0}.selected-options .ocfilter-option{background-color:#F8F8F8;font-size:10px;padding:4px
5px}#ocfilter-price .ocf-option-values{padding:10px
10px 5px}.trackbar, .trackbar .left-block, .trackbar .right-block{height:4px}.popover-content .form-inline{white-space:nowrap}.popover-content .form-inline .form-group{display:inline-block;margin-bottom:0;vertical-align:middle}.scale{margin-bottom:35px;margin-left:0;margin-right:0}.ocfilter .popover .form-inline .form-control{width:100px}.ocfilter-content-top,.ocfilter-content-bottom{}.ocfilter-content-top .box-content, .ocfilter-content-bottom .box-content{font-size:0}.ocfilter-content-top .ocfilter-option, .ocfilter-content-bottom .ocfilter-option{display:inline-block;vertical-align:top;width:33%}.ocfilter-content-top .ocfilter-option + .ocfilter-option, .ocfilter-content-bottom .ocfilter-option+.ocfilter-option{border-top:none}.ocf-offcanvas{position:fixed;top:0;background-color:#fff;bottom:0;left:-250px;z-index:1000;height:100%;width:250px;padding:0;-webkit-transition:left 250ms ease;-moz-transition:left 250ms ease;-ms-transition:left 250ms ease;-o-transition:left 250ms ease;transition:left 250ms ease}.ocf-offcanvas.active{left:0}.ocf-offcanvas .ocfilter-mobile-handle{position:absolute;left:100%;top:88px}.ocf-offcanvas .ocfilter-mobile-handle
.btn{border-top-left-radius:0;border-bottom-left-radius:0}.ocf-offcanvas .ocf-offcanvas-body{overflow-x:hidden;overflow-y:auto;position:absolute;top:0;bottom:0;left:0;right:0}.ocf-offcanvas
.panel{}.ocf-offcanvas{}.ocf-offcanvas{}.panel-heading{display:none}.panel{box-shadow:none;border-radius:0}.noUi-pips{font-family:Montserrat;letter-spacing: .28px}