.ocfilter{padding-top:12px}.ocfilter-option .ocf-option-name,
.ocfilter-option .ocf-option-values,
.ocfilter-option .ocf-option-description,
.ocfilter-option .fields-price{font-size:12px}.ocfilter-option .ocf-option-name{font-size:14px;font-weight:600;margin-bottom:10px;color:#292929;font-family:Montserrat;font-weight:700;line-height:23px;letter-spacing:0.32px}@media screen and (min-width: 992px){.ocfilter-option .ocf-option-name{font-size:16px}}.ocfilter-option .ocf-option-values{overflow:visible}.list-group-item{overflow:visible!important}.ocfilter-option .ocf-option-values .dropdown-menu{min-width:100%;max-height:250px;overflow:auto;padding:10px}.ocfilter-option .ocf-color{border-radius:3px 3px 3px 3px;float:left;height:19px;margin:1px
-16px 0 -3px;width:19px}.ocfilter-option .ocf-image{background-repeat:no-repeat;background-position:0 0;float:left;height:19px;margin:1px
-16px 0 -3px;position:relative;width:19px;z-index:10}.ocfilter-option
label{cursor:pointer;display:block;font-size:12px;font-weight:normal;line-height:1.2;white-space:normal;padding:4px
0 4px 15px;width:100%;color:#a2a2a2;font-family:Montserrat;line-height:24px;letter-spacing:0.28px;position:relative}.ocfilter-option label>a{font-family:Montserrat;line-height:14px;letter-spacing:0.28px;font-weight:normal;font-size:14px}.ocfilter-option label:before{content:'';display:inline-block;width:11px;height:11px;border:2px
solid #fbde1b;position:absolute;left:0px;top:10px}@media screen and (min-width: 992px){.ocfilter-option
label{font-size:14px}}.ocfilter-option .dropdown-menu
label{white-space:nowrap}.ocfilter-option label
input{display:inline-block;margin:0;vertical-align:top}.ocfilter-option label
small{background-color:#fff;color:#474747;margin-left:5px;border:1px
solid #fbde1b;border-radius:0;font-family:Montserrat;font-size:11px;font-weight:400;letter-spacing:0.22px;padding:2.5px 7px 1px}.ocfilter-option
label.disabled{color:#a2a2a2}.ocfilter-option label.disabled
small{background-color:#fff;color:#999}.ocfilter-option
label{color:#474747;text-decoration:none}.ocfilter-option label.ocf-selected:after{content:'';display:block;position:absolute;top:13px;left:3px;width:5px;height:5px;background-color:#fbde1b}.ocfilter-option label.ocf-selected
small{opacity:1}button[data-target="#ocfilter-hidden-options"]{border-top-left-radius:0;border-top-right-radius:0}button[data-target="#ocfilter-hidden-options"] .fa:before{content:"\f078"}button[data-target="#ocfilter-hidden-options"][aria-expanded="true"]{border-bottom-left-radius:0;border-bottom-right-radius:0}button[data-target="#ocfilter-hidden-options"][aria-expanded="true"] .fa:before{content:"\f077"}.collapse-value{margin-bottom:10px}.collapse-value>button,.collapse-value>button:focus,.collapse-value>button:active,.collapse-value>button:active:focus{text-align:left;background:transparent;border:none;box-shadow:none;padding:0;font-size:12px;text-decoration:underline;outline:none}.collapse-value > button .fa:before{content:"\f107"}.collapse-value>button[aria-expanded="true"]{}.collapse-value > button[aria-expanded="true"] .fa:before{content:"\f106"}.selected-options{color:#333;padding:0}.selected-options .ocfilter-option{background-color:#F8F8F8;font-size:10px;padding:4px
5px}#ocfilter-price .ocf-option-values{padding:10px
10px 5px}.trackbar, .trackbar .left-block, .trackbar .right-block{height:4px}.popover-content .form-inline{white-space:nowrap}.popover-content .form-inline .form-group{display:inline-block;margin-bottom:0;vertical-align:middle}.scale{margin-bottom:35px;margin-left:0;margin-right:0}.ocfilter .popover .form-inline .form-control{width:100px}.ocfilter-content-top,.ocfilter-content-bottom{}.ocfilter-content-top .box-content, .ocfilter-content-bottom .box-content{font-size:0}.ocfilter-content-top .ocfilter-option, .ocfilter-content-bottom .ocfilter-option{display:inline-block;vertical-align:top;width:33%}.ocfilter-content-top .ocfilter-option + .ocfilter-option, .ocfilter-content-bottom .ocfilter-option+.ocfilter-option{border-top:none}.ocf-offcanvas{position:fixed;top:0;background-color:#fff;bottom:0;left:-250px;z-index:1000;height:100%;width:250px;padding:0;-webkit-transition:left 250ms ease;-moz-transition:left 250ms ease;-ms-transition:left 250ms ease;-o-transition:left 250ms ease;transition:left 250ms ease}.ocf-offcanvas.active{left:0}.ocf-offcanvas .ocfilter-mobile-handle{position:absolute;left:100%;top:88px}.ocf-offcanvas .ocfilter-mobile-handle
.btn{border-top-left-radius:0;border-bottom-left-radius:0}.ocf-offcanvas .ocf-offcanvas-body{overflow-x:hidden;overflow-y:auto;position:absolute;top:0;bottom:0;left:0;right:0}.ocf-offcanvas
.panel{}.ocf-offcanvas{}.ocf-offcanvas{}.panel-heading{display:none}.panel{box-shadow:none;border-radius:0}.noUi-pips{font-family:Montserrat;letter-spacing: .28px}