#spoc-accordion {
    padding-bottom: 50px;
}

#spoc-accordion .text {
    font-size: 1rem;
    font-family: circle, Arial, Helvetica, Helvetica CY, Nimbus Sans L, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: #000;
    margin-bottom: 0px;
}

#spoc-accordion .toggle {
    letter-spacing: .075rem;
    font-size: 1.25rem !important;
    font-weight: 700;
    min-height: 48px;
    padding-top: 10px;
    position: relative;
    cursor: pointer;
    margin-bottom: 0px;
}

#spoc-accordion .toggle > span {
    font-size: 16px;
}

#spoc-accordion .toggle:before {
    content: "";
    display: block;
    position: absolute;
    top: 16px;
    left: -25px;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
    transition: .3s;
}

#spoc-accordion .toggle.active:before {
    transform: rotate(-135deg);
    top: 22px;
}

#spoc-accordion .toggle + div {
    display: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

#spoc-accordion .content-wrapper {
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    padding-left: 50px;
    padding-right: 20px;
    box-sizing: border-box;
}

#spoc-accordion .content-wrapper.active {
    border: 1px solid #000;
}

#spoc-accordion .content-wrapper ul {
    margin: 0px;
    padding-top: 15px;
}

#spoc-accordion .content-wrapper ul > li {
    margin-bottom: 5px;
}

.shield__footers_module_block__wrapper__top .shield__footers_module_block__wrapper__btn {
    font-family: "Bebas Bold";
    font-size: 18px;
    letter-spacing: .72px;
    line-height: 25px;
}

@media screen and (max-width: 1200px) {
    .shield__footers_module_block__wrapper__top .shield__footers_module_block__wrapper__btn {
       font-size: 15px;
    }
}

.text_gen_on_prods {
    font-family: Roboto;
    font-size: 14px;
    color: #292929;
}

